.name {
  font-size: 20px;
  font-weight: bold;
}

.gender {
  font-size: 14px;
  text-transform: capitalize;
  color: gray;
  font-weight: 500;
}

.hair_color, .skin_color, .eye_color {
  text-transform: capitalize;
}
