.container {
  max-width: 1200px;
  margin: auto;
  .search-bar {
    margin: 30px 20px 0;
    input {
      appearance: none;
      -webkit-appearance: none;
      border: 1px solid #000;
      height: 25px;
      min-height: 25px;
      border-radius: 8px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;

    .item {
      width: calc(33.333% - 8px);
      margin-right: 12px;
      margin-bottom: 12px;
      background-color: antiquewhite;
      padding: 15px;
      border-radius: 12px;
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  
    .item:nth-child(3), .item:nth-child(6), .item:nth-child(9) {
      margin-right: 0;
    }
  }
}
